<!-- Home section 1 -->
<section class="average-section" style="margin-bottom: 40px;">
  <!-- <div class="home-first-section-data"> -->
  <div class="section-home-1">
    <div class="sh1-1">
      <h3>Somos un Estudio de Diseño Multidisciplinar,
        <br />
        capas de afrontar cualquier reto mediante
      </h3><p><strong>Soluciones Innovadoras</strong> </p>
    </div>

    <div class="sh1-2">
      <h3>Danos una chance <br /> para trabjar juntos</h3>
    </div>

    <div class="sh1-3">
      <button id="talkBooton">Charlemos</button>
    </div>
  </div>
</section>

<!-- Home section 2 -->
<section class="average-section" style="margin-bottom: 160px;">
  <div class="home-section-2">
    <div class="home-section-2-data">
      <div class="hs2d-1">
        <div class="hs2d-1-title">
          <h3>Nos encargamos de todo
          </h3>
          <span>Contenido de Calidad</span>
        </div>
        <div class="hs2d-1-data">
          <span>Aplicamos un conjunto de acciones para ofrecerte lamejor calidad
            de neutros servicio. Una Solucion para estar presente en Facebook,
            instragram y Google de la mejor forma. Somos tu equipo de trabajo</span>
        </div>
        <div class="hs2d-redes">
          <div class="circle">
            <a href="https://www.facebook.com" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </div>
          <div class="circle">
            <a href="https://www.instagram.com" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
          <div class="circle">
            <a href="https://mail.google.com" target="_blank">
              <i class="fab fa-google-plus-g"></i>
            </a>
          </div>
          <div class="circle">
            <a href="https://www.linkedin.com" target="_blank">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
          <div class="circle">
            <a href="https://x.com" target="_blank">
              <i class="fa-brands fa-x-twitter"></i>
            </a>
          </div>
          <div class="circle">
            <a href="https://web.whatsapp.com" target="_blank">
              <i class="fa-brands fa-whatsapp"></i>
            </a>
          </div>

        </div>
      </div>
      <div class="hs2d-2">
        <img src="https://dummyimage.com/350x380/000/fff" alt="" />
      </div>
      <div class="hs2d-3">
        <ul>
          <li>Branding a medida</li>
          <li>Diseño Grafico</li>
          <li>Diseño Web</li>
          <li>Gestion De Redes Sociales</li>
          <li>Campañas Digitales</li>
          <li>Creacion y Edicion De Videos</li>
          <li>Fotografia De Productos</li>

        </ul>
      </div>
    </div>

    <div class="home-section-2-title">
      <h2>ASEGURAMOS EL TRIUNFO </h2>
      <h2>DE TU EMPRESA EN EL </h2>
      <p>
        MUNDO DIGITAL
      </p>
    </div>
  </div>
</section>

<!-- Home section 3 -->
<section class="average-section">
  <div class="home-section-3">
    <div class="home-section-3-title">
      <h2>Creamos Estrategias de</h2>
      <span>Branding Para Empresas</span>
    </div>
    <div class="home-section-3-data">
      <div class="hs3d-card">

        <div class="hs3d-card-icon">
          <i class="fa-solid fa-bezier-curve"></i>
        </div>
        <div class="hs3d-card-title">
          <h3>Branding a <br /> Medida</h3>
        </div>
        <div class="hs3d-card-data">
          <span>Diseñamos una identidad de marca exclusiva y adaptada a los
            objetivos de tu empresa. Ademas, con nuestro servicio de branding,
            garantizamos que tu marca refleje lla esencia de tu negocio y tu
            publico objetivo</span>
        </div>
      </div>
      <div class="hs3d-card">
        <div class="hs3d-card-icon">
          <i class="fa-solid fa-compass-drafting"></i>
        </div>
        <div class="hs3d-card-title">
          <h3>Diseño de Logo <br />Profesional</h3>
        </div>
        <div class="hs3d-card-data">
          <span>Creamos logos unico y atractivos.
            <br />
            Contamos con un equipo de expertos en branding que se enfoca en
            diseñar logos que sesan versatiles y funcionales para todas tus
            aplicaciones de marca.</span>
        </div>
      </div>
      <div class="hs3d-card">
        <div class="hs3d-card-icon">
          <i class="fa-solid fa-right-left"></i>
        </div>
        <div class="hs3d-card-title">
          <h3>Identidad <br /> Coherente</h3>
        </div>
        <div class="hs3d-card-data">
          <span>La consistencia en la imagen de marca es clave para el
            reconocimiento y la confianza del cliente. Por ello, nos aseguramos
            que todos los elementos sean coherentes en todos tus materiales de
            marketing</span>
        </div>
      </div>
    </div>
  </div>
</section>