// Colores principales
$primary-color: #8ade6a;  // Color principal
$secondary-color: #ffffff; // Color secundario
$accent-color: #6fc451;  // Color de acento
$background-color: #53a937;  // Fondo general
$text-color: #1e2021;  // Color del texto
$muted-text-color: #7f8c8d;  // Texto secundario (gris claro)

$violet-primary: #92166d;
$greeen-primary: #7ff258;
$greeen-primary-booton : #c7f500;


// Caracteristicas de fuente
$font-family-base: "Montserrat", sans-serif;  // Fuente principal
$font-size-base: 16px;  // Tamaño base
$font-size-large: 18px;  // Tamaño grande
$font-size-extra-large: 30px;  // Tamaño XL
$font-size-xxlarge: 40px;  // Tamaño XXL
$font-size-small: 14px;  // Tamaño pequeño

// Tipografía
$font-weight-light: 300;  // Peso de fuente ligero
$font-weight-normal: 400;  // Peso normal
$font-weight-bold: 700;  // Negrita

