.whatsapp-button {
  position: fixed;
  bottom: 20px; /* Anclado a 20px del borde inferior */
  right: 20px; /* Anclado a 20px del borde derecho */
  background-color: #25D366; /* Color verde de WhatsApp */
  color: white;
  border-radius: 50%; /* Hacerlo circular */
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px; /* Tamaño del ícono */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para darle un toque 3D */
  z-index: 1000; /* Asegurarse de que esté siempre visible */
  text-decoration: none;

  &:hover {
    background-color: #128C7E; /* Color al hacer hover (un tono más oscuro) */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  }

  i {
    color: white; /* Color del ícono dentro del botón */
  }
}
